[submodule "Foundry-ERC20/lib/forge-std"]
	path = Foundry-ERC20/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Foundry-nft/lib/forge-std"]
	path = Foundry-nft/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Foundry-nft/lib/openzeppelin-contracts"]
	path = Foundry-nft/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
[submodule "Foundry-nft/lib/foundry-devops"]
	path = Foundry-nft/lib/foundry-devops
	url = https://github.com/foundry-rs/foundry-devops
[submodule "Foundry-defi-stablecoin/lib/forge-std"]
	path = Foundry-defi-stablecoin/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Foundry-defi-stablecoin/lib/openzeppelin-contracts"]
	path = Foundry-defi-stablecoin/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "lib/chainlink-brownie-contracts"]
	path = lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "Foundry-defi-stablecoin/lib/chainlink-brownie-contracts"]
	path = Foundry-defi-stablecoin/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "Rebase-token/lib/forge-std"]
	path = Rebase-token/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Rebase-token/lib/openzeppelin-contracts"]
	path = Rebase-token/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "Merkle-airdrop/lib/forge-std"]
	path = Merkle-airdrop/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Merkle-airdrop/lib/openzeppelin-contracts"]
	path = Merkle-airdrop/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "lib/murky"]
	path = lib/murky
	url = https://github.com/dmfxyz/murky
[submodule "Merkle-airdrop/lib/murky"]
	path = Merkle-airdrop/lib/murky
	url = https://github.com/dmfxyz/murky
[submodule "Invariant-testing/lib/forge-std"]
	path = Invariant-testing/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Upgradeable-smart-contracts/lib/forge-std"]
	path = Upgradeable-smart-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Upgradeable-smart-contracts/lib/openzeppelin-contracts"]
	path = Upgradeable-smart-contracts/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "Upgradeable-smart-contracts/lib/openzeppelin-contracts-upgradeable"]
	path = Upgradeable-smart-contracts/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "Adv-Testing/lib/forge-std"]
	path = Adv-Testing/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
